---
import { phone_1 } from "../commons";
import { numbersOnly } from "../functions";
import logo from "../assets/images/mobizen-logo.png";
import PhoneVolume from "./icons/PhoneVolume.astro";
import MobileScreen from "./icons/MobileScreen.astro";

const sections = [
  {
    link: "#screen",
    title: "Màn hình"
  },
  {
    link: "#battery",
    title: "Pin"
  },
  {
    link: "#glass",
    title: "Ép kính"
  },
  {
    link: "#camera",
    title: "Camera"
  },
  {
    link: "#shell",
    title: "Vỏ"
  },
];

const linkPhone = `tel:${numbersOnly(phone_1)}`;
const linkZalo = `https://zalo.me/${numbersOnly(phone_1)}`;
---

<header class="sticky top-0 shadow-md z-10">
  <div class="flex items-center bg-gradient px-4 py-2">
    <a class="flex-shrink max-w-[200px]" href="/">
      <img src={logo} alt="Mobizen logo">
    </a>
    <div class="flex items-center flex-shrink-0 ml-auto">
      <a class="phone-link bg-white text-blue-mobizen" href={linkPhone}>
        <PhoneVolume />
        <span class="ml-2">
          {phone_1}
        </span>
      </a>
      <a class="phone-link bg-blue-zalo text-white" href={linkZalo}>ZALO</a>
    </div>
  </div>
  <div class="flex items-center justify-evenly bg-gray-200 px-4 py-2 text-sm font-semibold text-gray-700">
    <span>Báo Giá:</span>
    {sections.map(section => (
      <a href={section.link} class="flex items-center hover:text-black transition-colors">
        <MobileScreen/>
        <span class="block ml-1">{section.title}</span>
      </a>
    ))}
  </div>
</header>

<style>
.phone-link {
  @apply flex items-center text-sm font-bold rounded-full px-3 py-[5px] ml-3 hover:brightness-90 transition-all duration-300;
}
</style>
