---
const { Content, frontmatter } = Astro.props.data;
const { index } = Astro.props;

const loadingStyle = index === 0 ? "eager" : "lazy"
---

<div id={frontmatter.id} class="mb-10">
  <img src={frontmatter.image} alt={frontmatter.title} loading={loadingStyle} width="700" height="1000" />
  <h2 class="text-gradient font-bold text-2xl px-4 py-6">{frontmatter.title}</h2>
  <Content />
</div>

<style is:global>
table {
  @apply w-full;
  border-collapse: collapse;
}

table th,
table td {
  @apply px-4 py-2 border-b border-gray-300 text-left text-gray-700;
}

table th {
  @apply font-bold;
}

table thead tr {
  @apply bg-gray-200;
}

table tbody tr:nth-child(even) {
  @apply bg-gray-100;
}

table tbody tr:hover {
  @apply hover:bg-gray-100;
}
</style>
